/* TODO: make it look awesome. */
/* TODO: make it responsive. */
body{

  margin: 0;
  padding: 0;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Jost', sans-serif;
  background-color: rgb(36, 93, 56)
     
}

select {
  margin: 10px 120px;
  outline: 0;
  font: Arial ;
  width: 20em;
  height: 3em;
  padding: 0 4em 0 1em;
  color: black;
  border-radius: 0.25em;
  box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

input{
  margin: 10px 120px;
}

#unOrdered {
  margin: 10px 120px;
}
h3{
  margin: 10px 120px;
} 

label{
  margin: 20px 120px;
  
}

textarea {
  width: 60%;
  margin: 10px 120px;
  height: 3em;
}


#button{

width: fit-content;
height: 40px;
margin: 10px auto;
justify-content: center;
display: block;
color: #fff;
background: #0e1e10;
font-size: 1em;
font-weight: bold;
margin-top: 20px;
outline: none;
border: none;
border-radius: 5px;
transition: .2s ease-in;
cursor: pointer;
}